pydantic
crewai
crewai_tools
mlflow
databricks-sdk
openai
Faker
pyyaml
git+https://github.com/unitycatalog/unitycatalog.git#subdirectory=ai/core
git+https://github.com/unitycatalog/unitycatalog.git#subdirectory=ai/integrations/openai
pandas
pyspark
python-dotenv
databricks-connect
notebook
ipykernel
langchain
langgraph<0.3.0
databricks-langchain
databricks-agents
unitycatalog-crewai
unitycatalog-crewai[databricks]